<p id="notice"><%= notice %></p>

<span class="admin"><%= link_to 'Edit', edit_status_path(@status) %></span>



<%= render 'statuses/show' %>

 <div class="post-list">
<div class="row">
    <div class="col-sm-2">
        <div class="picture">
            <%= image_tag @status.user.image.url(:thumb), class: "img-circle" %>
        </div>
    </div>
    <div class="col-sm-6">
        <h4>    
            
            <label class="label label-info"><%= @status.user.username %></label>
        </h4>
        <h5> 
        <i class="fa fa-calendar"></i>
        <%= time_ago_in_words(@status.created_at) + " ago" %>
        </h5>
        <p class="description"><%= @status.content %> 
            <div id="messages">
              <%= render @status.messages %>
            </div>
            <%= simple_form_for [@status, Message.new ] do |message|%>
            
            <%= message.input :content, autofocus: true, 
            placeholder: "Enter Your Message", label: false %>
            <%= message.submit "Send", class: "btn btn-info btn-xs" %>
            
            <% end %>
        </p>    
    </div>
    <div class="col-sm-4" data-no-turbolink="">
      <%= link_to 'Back', statuses_path, 
      class: "btn btn-info btn-download btn-round pull-right makeLoading fa fa-share" %>
          
    </div>
  </div>
</div>


